<p id="notice"><%= notice %></p>

<h1>Users</h1>

<%= form_with(model: @user_search_form, url: users_path, method: :get, local: true) do |form| %>
  <div class="field">
<!--    # TODO text_fieldからラジオボタンとかリストにする-->
<!--    # TODO Viewを部品化する-->
<!--    # WANT prefecture_ids select2で実装すると空文字が入るのでフォームオブジェクトでいい感じに対応する-->
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.label :gender %>
    <%= form.text_field :gender %>
    <%= form.label :birthday %>
    <%= form.date_field :birthday %>
    <%= form.label :prefecture_id %>
    <%= form.text_field :prefecture_id %>
  </div>
  <div class="actions">
    <%= form.submit("検索") %>
  </div>
<% end %>

<%= paginate @users %>
<%= page_entries_info @users %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Birthday</th>
      <th>Prefecture</th>
      <th>Profile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.gender %></td>
        <td><%= user.birthday %></td>
        <td><%= user.prefecture_id %></td>
        <td><%= user.profile %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
